# macOS system files that can be safely ignored
.DS_Store

# Ignore npm debug log
npm-debug.log*

# Ignore node_modules directory
node_modules/

# Optional: Ignore yarn.lock for Yarn
yarn.lock

# Ignore environment-specific files
.env

# Ignore VSCode settings
.vscode/

# Ignore logs
logs/
*.log

# Ignore user-specific files
.npmrc
.npmignore

# Ignore IDE or text editor files
.idea/
*.suo
*.user
*.sln
*.sublime-project
*.sublime-workspace
