<%- include("includes/header.ejs") -%>

<%- include("includes/navbar.ejs") -%>

<div id="carouselExample" class="carousel slide">
   <div class="carousel-inner">
      <div class="carousel-item active">
         <img src="/assets/image3.jpg" class="d-block w-100 object-cover" alt="image3">
      </div>
      <div class="carousel-item">
         <img src="/assets/image1.jpg" class="d-block w-100" alt="image1">
      </div>
      <div class="carousel-item">
         <img src="/assets/image2.jpg" class="d-block w-100" alt="image2">
      </div>
   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
   </button>
</div>

<h1 class="text-center my-5">Hello ejs and Bootstrap</h1>


<%- include("includes/footer.ejs") -%>