<%- include("includes/header.ejs") -%>

<%- include("includes/navbar.ejs") -%>


<main>
   <div class="container mt-5">
      <h1 class="text-center mb-4">Login</h1>
      <!-- Bootstrap Form -->
      <form action="/auth/login" method="POST">
         <div class="row justify-content-center">
            <div class="col-md-4">
               <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" required>
               </div>
            </div>
            <div class="col-md-4">
               <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password" required>
               </div>
            </div>
            <div class="col-md-8">
               <button type="submit" class="btn btn-primary">Login</button>
            </div>
         </div>
      </form>
   </div>
</main>



<%- include("includes/footer.ejs") -%>